<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person List</title>
    <style>
        table,

        th, td {
        border: 1px solid black;
        border-collapse:collapse;
        }

        tbody tr: nth-child(odd) {
        background: lightblue;
        }

        th {
         background-color: lightgreen;
        width: 150px;
        padding: 10px;
        }

        tr: hover{
         box-shadow:0px 2px 0px rgba(0,0,0,0.5);
         cursor: pointer;

        td {

        padding:10px;

        }
    </style>
</head>
<body>
  <h2>List of Person</h2>
  <br>
   <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>

    <tr>
        <td>0985658945</td>
        <td>Wendy</td>
        <td>18</td>
    </tr>

    <tr>
        <td>0956452514</td>
        <td>Mia</td>
        <td>15</td>
    </tr>

    <tr>
        <td>0958945612</td>
        <td>Valentino</td>
        <td>10</td>
    </tr>


    <tr>
        <td>0925458956</td>
        <td>Mar</td>
        <td>20</td>
    </tr>

    </table>

</body>

</html>